# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtualenv
env2/
env3/

# Visual Studio stuff
bin/
obj/
local.pubxml
local.pubxml.user
ptvs_virtualenv_proxy.py
web.config
web.debug.config
DRIC.pyproj