<section class="content body page" id="page-mavlink" style="display: none;">
    <section class="content-header">
        <h1>
            Mavlink
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <div class="info-box bg-yellow">
                    <span class="info-box-icon"><i class="fa fa-battery-half"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Battery</span>
                        <span class="info-box-number">{{battery.tension}}mV </span>

                        <span class="progress-description">{{battery.charge}}% remaining ({{battery.current}}mAh)</span><div class="progress">
                            <div class="progress-bar" v-bind:style="{width: battery.charge+'%'}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info-box bg-green">
                    <span class="info-box-icon"><i class="fa fa-heart"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Status</span>
                        <span class="info-box-number">{{heartbeat.status}}</span>

                        <span class="progress-description">Last heartbeat {{heartbeat.last.toFixed(2)}}s ago</span><div class="progress">
                            <div class="progress-bar" v-bind:style="{width: (heartbeat.beat = heartbeat.beat?100-heartbeat.beat:55)+'%'}"></div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info-box bg-blue">
                    <span class="info-box-icon"><i class="fa fa-comments"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Messages</span>
                        <span class="info-box-number">{{stats.rate}} messages/seconds</span>

                        <span class="progress-description">{{stats.total}} messages received</span>
                        <div class="progress">
                            <div class="progress-bar" v-bind:style="{width: stats.progress+'%'}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box box-success">
                    <!--<div class="box-header with-border">
                        <h3 class="box-title">Drone selector</h3>
                    </div>-->
                    <div class="box-body">
                        <div class="form-group">
                            <label>
                                Drone id: 
                            </label>
                            <select class="form-control" v-model="esid" v-if="esidList.length > 0">
                                <option v-for="esid in esidList">{{esid}}</option>
                            </select>
                            <span class="text-danger" v-else>No system connected!</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Send command</h3>
                    </div>
                    <div class="box-body">
                        <a target="_blank" href="https://pixhawk.ethz.ch/mavlink/">See Complete list of MAV_CMD</a>
                        <div>
                            <table id="Mav_table" class="table table-bordered table-striped" style="color:black;">
                                <tbody>
                                    <tr>
                                        <td><h5>Command</h5></td>
                                        <td><input type="text" class="input_tab_Mav form-control" value="0" id="inp_mav_command" data-cip-id="inp_mav_command"></td>
                                    </tr>
                                    <tr>
                                        <td><h5>Confirmation</h5></td>
                                        <td><input type="text" class="input_tab_Mav form-control" value="0" id="inp_mav_confirmation" data-cip-id="inp_mav_confirmation"></td>
                                    </tr>
                                    <!--<tr>
                                        <td><h5>Parameter 1</h5></td>
                                        <td><input type="text" class="input_tab_Mav form-control" value="0" id="inp_mav_param1" data-cip-id="inp_mav_param1"></td>
                                    </tr>
                                    <tr>
                                        <td><h5>Parameter 2</h5></td>
                                        <td><input type="text" class="input_tab_Mav form-control" value="0" id="inp_mav_param2" data-cip-id="inp_mav_param2"></td>
                                    </tr>
                                    <tr>
                                        <td><h5>Parameter 3</h5></td>
                                        <td><input type="text" class="input_tab_Mav form-control" value="0" id="inp_mav_param3" data-cip-id="inp_mav_param3"></td>
                                    </tr>
                                    <tr>
                                        <td><h5>Parameter 4</h5></td>
                                        <td><input type="text" class="input_tab_Mav form-control" value="0" id="inp_mav_param4" data-cip-id="inp_mav_param4"></td>
                                    </tr>
                                    <tr>
                                        <td><h5>Parameter 5</h5></td>
                                        <td><input type="text" class="input_tab_Mav form-control" value="0" id="inp_mav_param5" data-cip-id="inp_mav_param5"></td>
                                    </tr>
                                    <tr>
                                        <td><h5>Parameter 6</h5></td>
                                        <td><input type="text" class="input_tab_Mav form-control" value="0" id="inp_mav_param6" data-cip-id="inp_mav_param6"></td>
                                    </tr>
                                    <tr>
                                        <td><h5>Parameter 7</h5></td>
                                        <td><input type="text" class="input_tab_Mav form-control" value="0" id="inp_mav_param7" data-cip-id="inp_mav_param7"></td>
                                    </tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button id="send_mav_btn" type="submit" class="btn btn-primary btn-sm pull-right">Send command</button>
                    </div>
                </div>
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h4 class="box-title">MAVErrors</h4>
                    </div>
                    <div class="box-body">
                        <pre style="max-height:5em">{{maverrors.join('\n')}}</pre>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="box box-primary">
                    <div class="box-body">
                        <input type="text" class="form-control" v-model="searchquery" placeholder="Search..." />
                        <table id="mavlink-messages-overview" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Count</th>
                                    <th>Frequency (Hz)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="message in messages" v-if="message.type.toUpperCase().indexOf(searchquery.toUpperCase()) > -1">
                                    <td>
                                        <a role="button" v-on:click="openMavlinkMsg" v-bind:data-message-type="message.type">
                                            {{message.type}}
                                        </a>
                                    </td>
                                    <td>{{message.count}}</td>
                                    <td>{{message.frequency}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <!--<div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">Output</h3>
                    </div>
                    <div class="box-body">
                        <textarea rows="5" class="form-control" readonly="readonly">Mavlink session initialized...</textarea>
                    </div>
                </div>-->
                <div class="box box-default mavlink-tabs">
                    <div class="box-header">
                        <div class="dropdown">
                            Data acquisition: from {{acquisition}}
                            <a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="caret"></span></a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a v-on:click="acquisition='boot';setAcquisitionFrom('boot')">boot</a></li>
                                <li><a v-on:click="acquisition='now';setAcquisitionFrom('now')">now</a></li>
                            </ul>
                        </div>

                    </div>
                    <div class="box-body">
                        <ul class="nav nav-tabs">
                            <li v-for="(message, type) in inspectedMessages" v-bind:class="{ active: type === activeType }">
                                <a v-bind:href="'#tab_' + type"
                                   v-bind:data-type="type"
                                   v-on:dblclick="closeTab(type)"
                                   v-on:click="activeType = type"
                                   data-toggle="tab"
                                   aria-expanded="true">
                                    {{type}}
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane"
                                 v-for="(message, type) in inspectedMessages"
                                 v-bind:class="{ active: type === activeType }"
                                 v-bind:id="'#tab_' + type">
                                <div class="btn-toolbar">
                                    <div class="btn-group">
                                        <button role="button" class="btn btn-default"
                                                v-on:click="message.current = message.current - 10 < 1 ? 1 : message.current - 10; message.auto = false">
                                            <i class="fa fa-angle-double-left"></i>
                                        </button>
                                        <button role="button" class="btn btn-default"
                                                v-on:click="message.current = message.current - 1 < 1 ? 1 : message.current - 1; message.auto = false">
                                            <i class="fa fa-angle-left"></i>
                                        </button>
                                    </div>
                                    <div class="input-group" style="width: 40%;">
                                        <input type="text"
                                               class="form-control"
                                               v-model:value="message.current">
                                        <a class="input-group-addon" href="#"
                                           v-on:click="message.current = message.count; message.auto = true">
                                            /{{message.count}}
                                        </a>
                                    </div>
                                    <div class="btn-group">
                                        <button role="button" class="btn btn-default"
                                                v-on:click="message.current = message.current + 1 > message.count ? message.count : message.current + 1; message.auto = false">
                                            <i class="fa fa-angle-right"></i>
                                        </button>
                                        <button role="button" class="btn btn-default"
                                                v-on:click="message.current = message.current + 10 > message.count ? message.count : message.current + 10; message.auto = false">
                                            <i class="fa fa-angle-double-right"></i>
                                        </button>
                                    </div>
                                    <table class="table table-striped">
                                        <tr v-for="(value, key) in message.data">
                                            <td>{{key}}</td>
                                            <td>{{convertMavlink(type, key, value)}} {{type in units ? units[type][key]:''}}</td>
                                            <td>
                                                <div class="btn-group">
                                                    <a class="btn btn-default"
                                                       target="_blank"
                                                       v-bind:href="'/mavlink/download/' + esid + '/' + type + '/' + key + (acquisition === 'now' && type in acquisitionIndex ? '/' + acquisitionIndex[type] + ':' + message.count:'' )"
                                                       v-bind:download="type + '.' + key + '.txt'">
                                                        <i class="fa fa-download"></i>
                                                    </a>
                                                    <button class="btn btn-default dropdown-toggle"
                                                            type="button"
                                                            data-toggle="dropdown"
                                                            aria-haspopup="true"
                                                            aria-expanded="true"
                                                            v-if="type in units && key in units[type]">
                                                        <i class="fa fa-exchange"></i>
                                                    </button>
                                                    <ul v-if="type in units && key in units[type] && getConvertableUnitsFor(units[type][key]) !== null" class="dropdown-menu">
                                                        <li v-for="unit in getConvertableUnitsFor(units[type][key])">
                                                            <a v-on:click="units[type][key]=unit">{{unit}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
