<section class="content body page" id="page-dronekit" style="display: none;">
    <section class="content-header">
        <h1>
            Dronekit
        </h1>
    </section>
    <section class="content">
        <div class="callout callout-success" v-if="isConnected">
            <h4><i class="fa fa-wifi fa-fw"></i> One active connection</h4>
            This connection will be available to all authorized clients.
        </div>
        <div class="callout callout-danger" v-else>
            <h4><i class="fa fa-ban fa-fw"></i> No active connection</h4>
            Use the box below to connect to <strong>one</strong> drone using dronekit.
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box dronekit-connection-box" v-bind:class="isConnected ? 'box-success':'box-danger'">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-wifi"></i> Connection</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <form class="dronekit-connection">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="connectionType">Connection type</label>
                                        <select class="form-control" v-on:change="buildConnectionString">
                                            <option>UDP</option>
                                            <option>TCP</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="host">Host</label>
                                        <input type="text" class="form-control" value="127.0.0.1" name="host" v-on:change="buildConnectionString">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="port">Port</label>
                                        <input type="text" class="form-control" value="14550" name="port" v-on:change="buildConnectionString">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a role="button" aria-pressed="false" v-on:click="advancedclick" class="show-advanced-dronekit-connection-string-button">
                                        <i class="fa fa-fw fa-caret-right"></i> Advanced
                                    </a>
                                </div>
                            </div>
                            <div class="row advanced-dronekit-connection-string" style="display:none">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="dronekit-connection-string" class="col-xs-12">
                                            Connection string
                                            <a class="pull-right" title="More infos" href="http://python.dronekit.io/guide/connecting_vehicle.html">
                                                <i class="fa fa-question-circle"></i>
                                            </a>
                                        </label>
                                        <div class="col-xs-12">
                                            <input type="text" class="form-control" value="" name="dronekit-connection-string">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-success pull-right" v-on:click="connect">Connect</button>
                            <span class="dronekit-working pull-right" style="display:none"><i class="fa fa-cog fa-spin fa-fw fa-2x"></i></span>
                            <span class="dronekit-connexion-msg dronekit-connexion-msg-error text-danger" style="display:none">Connection timed out</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</section>