<li>
    <a href="#" data-page="page-dronekit">
        <!--<i style="position:relative">
            <i class="fa fa-wifi" style="position:absolute"></i>
            <i class="fa" v-bind:class="isConnected ? ['fa-check-circle-o', 'text-success']:['fa-times-circle-o', 'text-danger']"
                style="position:relative;top:4px;left:9px"></i>
        </i>-->
        <i class="fa fa-ban dronekit-indicator connecting-red blink"></i>
        <span>
            Dronekit
        </span>
    </a>
</li>